* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container {
  width: 80%;
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

.fixed {
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  border-bottom: 1px solid black;
  z-index: 9999999;
}

.grey {
  background-color: #f5f8fa;
}

.language, .contact {
  height: 70px;
  float: left;
  line-height: 70px;
  padding-right: 20px;
}

.language a, .contact a {
  color: #32495b;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.line {
  position: relative
}

.language-curtain {
  position: absolute;
  left: 0;
  top: 40px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  visibility: hidden;
}

.language-curtain ul li {
  list-style: none;
  color: #32495b;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  line-height: 50px;
  padding: 0 22px;
}

.language-curtain ul:first-child, .software-curtain ul:first-child {
  padding-top: 13px;
}

.triangle {
  height: 20px;
  width: 20px;
  position: absolute;
  top: 30.0px;
  right: 3px;
  transform: rotate(45deg);
  background-color: white;
  border-top: 1px solid black;
  border-left: 1px solid black;
  visibility: hidden;
}

#contacts {
  border-left: 1px solid #cbd6e2;
  padding-left: 20px;
}

.fa-search {
  color: #00a4bd;
}

.login {
  float: right;
  height: 70px;
  line-height: 70px;
}

.login a {
  padding-right: 15px;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

#login {
  font-size: 18px;
  color: #ff7a59;
  border: 1px solid #ff7a59;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 1;
  transition: 1.5s;
}

#ghsf {
  font-size: 18px;
  color: white;
  border: 1px solid #ff7a59;
  background-color: #ff7a59;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 1;
  transition: 1.5s
}

/* Menu */

.menu {
  margin-top: 70px;
  height: 70px;
  font-size: 20px;
  line-height: 70px;
}

.logo {
  float:left;
}

.logo img {
  height: 50px;
  vertical-align: middle;
}

.menu ul{
  float: right;
}

.menu ul li {
  float: left;
  color: #32495b;
  list-style: none;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  padding-left: 30px;
  cursor: pointer;
}

.software {
  position: relative;
}

.software-curtain {
  position: absolute;
  left: 0px;
  top: 60px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  visibility: hidden;
}

.software-curtain ul li {
  list-style: none;
  color: #32495b;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  line-height: 50px;
  margin: 0 22px;
  float: none;
  width: 360px;
  padding-left: 8px;
}

.software-curtain ul li p {
  font-size: 10px;
  line-height: 12px;
  padding-bottom: 15px;
}

.software-curtain ul li:first-child, .software-curtain ul li:nth-child(4) {
  border-bottom: 1px solid #32495b;
}

.software-curtain ul:last-child {
  padding-bottom: 13px;
}

.resources {
  position: relative;
}

.resources-curtain {
  position: absolute;
  top: 60px;
  left: -350px;
  width: 850px;
  background-color: white;
  border: 1px solid #32495b;
  border-radius: 5px;
  padding: 0 22px 10px 22px;
  visibility: hidden;
}

.row {
  padding: 10px 0;
  font-size: 17px;
}

.resource-card {
  float: left;
  width: 33.33333%;
  line-height: 50px;
  padding: 0 5px;
}

.resource-card p {
  font-size: 10px;
  line-height: 12px;
}

.row:not(:last-child) {
  border-bottom: 1px solid #32495b;
}

/* Banner */

.pink {
  background-image: url("../img/kn.png");
  background-size: cover;
  height: 650px;
  background-position: right;
  background-repeat: no-repeat;
  border-bottom: 3px solid #33475b;
}

.banner {
  width: 40%;
  font-family: 'Maven Pro', sans-serif;
  padding-top: 40px;
}

.banner h1 {
  font-size: 50px;
  line-height: 55px;
  color: #33475b;
}

.banner h4 {
  margin: 25px 0;
  font-size: 15px;
  color: #33475b;
  line-height: 25px;
}

.banner h5 {
  margin: 25px 0;
  font-size: 12px;
  color: #33475b;
}

.ghsfbig {
    font-family: 'Maven Pro', sans-serif;
    font-size: 20px;
    color: white;
    border: 1px solid #ff7a59;
    background-color: #ff7a59;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 1;
    transition: 1.5s;
}

/* First section */

.powerful {
  font-family: 'Maven Pro', sans-serif;
  color: #33475b;
  text-align: center;
  padding: 40px 0
}

.cube img {
  height: 200px;
}

h2 {
  font-size: 30px;
}

.cube h4 {
  padding-top: 40px;
  font-size: 15px;
}

.book {
  background-color: white;
  border: 1px solid #e6ecf1;
  border-radius: 10px;
  margin-bottom: 40px;
}

.split-first {
  width: 35%;
  height: 350px;
  float: left;
  position: relative;
}

.target {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.learn {
  font-family: 'Maven Pro', sans-serif;
  font-size: 20px;
  color: white;
  border: 1px solid #ff7a59;
  background-color: #ff7a59;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  opacity: 1;
  transition: 1.5s;
}

.target img {
  height: 100px;
  margin-bottom: 20px;
}

.split-second {
  width: 55%;
  height: 350px;
  float: left;
  color: #33475b;
  font-family: 'Maven Pro', sans-serif;
  position: relative;
}

.crm {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.crm h3, .card h3{
  font-size: 25px;
}

.crm h4 {
  font-weight: bold;
  margin: 20px 0;
}

.feature hr, .feature h4 {
  display: inline-block;
}

.feature hr {
  width: 55%;
  margin-bottom: 3px;
  margin-left: 40px;
}

.crm ul {
  margin-top: 20px;
}

.crm ul li {
  list-style: none;
  display: inline-block;
  padding-right: 20px;
  font-weight: 500;
}

.crm ul li i, .box ol li i {
  color: #ff7a59;
  padding-right: 8px;
}

.cards {
  padding-bottom: 40px;
}

.card {
  height: 100%;;
  width: 33.33333%;
  float: left;
}

.sx {
  padding-right: 10px;
}

.cx {
  padding: 0 10px;
}

.dx {
  padding-left: 10px;
}

.box {
  padding: 20px 30px;
  text-align: center;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #e6ecf1;
  color: #33475b;
  font-family: 'Maven Pro', sans-serif;
}

.box img {
  height: 100px;
}

.box ol {
  list-style: none;
  text-align: left;
  font-weight: 500;
}

.box h3, .box h4, .box ol {
  padding: 20px 0;
}

/* Second section */

.turquoise {
  background-image: linear-gradient(to right, #00aab9 , #00b8aa);
  font-family: 'Maven Pro', sans-serif;
  text-align: center;
  color: white;
}

.community h2, .community h4 {
  padding: 50px 10px 0 10px;
}

.up {
  border-bottom: 1px solid white;
  padding-top: 30px;
}

.down {
  padding-bottom: 50px;
}

.cell {
  width: 25%;
  float:left;
  padding: 30px 40px;
  text-align: center;
}

.cell img {
  height: 30px;
}

.cell h2 {
  font-size: 50px;
}

.cell h2::after {
  content: " + ";
  font-size: 25px;
  vertical-align: middle;
  padding-bottom: 10px;
}

.cell:not(:last-child) {
  border-right: 1px solid white;
}

/* Third section */

.customers {
  padding: 50px;
}

.spt {
  font-family: 'Maven Pro', sans-serif;
  color: #33475b;
  width: 25%;
  padding: 30px 50px;
  text-align: center;
  float: left;
}

.spt h2 {
  font-size: 40px;
  padding-bottom: 40px;
}

.brands {
  width: 70%;
  float: left;
  text-align: center;
  padding-left: 100px;
}

.cell-logo {
  height: 100px;
  width: 25%;
  float: left;
  position: relative;
}

.cell-logo img {
  width: 90%;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%, -50%);
  padding: 0 5px;
}

.start-sx, .start-dx {
  float:left;
  width: 50%;
  color: #33475b;
  font-family: 'Maven Pro', sans-serif;
}

.start-sx h2 {
  font-size: 30px;
  padding: 40px 0;
}

.start-sx h3 {
  padding-bottom: 40px;
}

.start-sx h5 {
  padding: 40px 0;
}

.start-dx {
  text-align: right;
}

.start-dx img {
  height: 350px;
}

/* footer */

.blue {
  background-color: #32495b;
}

.columns {
  padding-bottom: 50px;
}

.column {
  width: 25%;
  float: left;
  font-family: 'Maven Pro', sans-serif;
}

.column h4 {
  color: white;
  padding-top: 40px;
  padding-bottom: 20px;
}

.column ul li {
  list-style: none;
  color: #cbd6e2;
  padding: 8px 0;
  cursor: pointer;
}

#contact {
  font-size: 15px;
  color: #32495b;
  border: 1px solid white;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Maven Pro', sans-serif;
  opacity: 1;
  transition: 1.5s;
}

.icons li {
  display:inline-block;
  list-style: none;
}

.icons li i {
  padding-right: 15px;
  font-size: 18px;
}
.languages {
  text-align: center;
  padding-bottom: 40px;
}

.languages li {
  color: #cbd6e2;
  list-style: none;
  display: inline-block;
  font-size: 18px;
  font-family: 'Maven Pro', sans-serif;
  padding: 0 10px;
  cursor: pointer;
}

footer hr {
border-color: #cbd6e2;
}

.footer-logo {
  color: #cbd6e2;
  font-family: 'Maven Pro', sans-serif;
}

.copyright {
  float: left;
  padding: 40px 0;
}

.policy {
  float: right;
  padding: 40px 0;
}

.policy ul li {
  display: inline-block;
  list-style: none;
  font-weight: bold;
  padding: 0 8px;
  cursor: pointer;
}

/* Hovers */

#login:hover, #ghsf:hover, .ghsfbig:hover, .learn:hover, #contact:hover {
  opacity: 0.6
}

.column ul li:hover, .languages li:hover, .policy ul li:hover {
  color: rgb(61, 143, 195);
}

.language-curtain ul li:hover, .software-curtain ul li:hover, .resource-card:hover {
  background-color: rgb(161, 192, 203);
}

.language:hover .language-curtain, .language:hover .triangle, .software:hover .software-curtain, .resources:hover .resources-curtain {
  visibility: visible;
}
